* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px;
  border: 1px solid #aaa;
  box-shadow: inset 2px 2px 3px #ddd;
  background-color: #eee;
}

label {
  display: block;
}

button:disabled {
  opacity: 0.5;
}

input[type="text"],
select {
  min-width: 25em;
  padding: 4px 8px;
  color: #00A;
  border: 1px solid #aaa;
}

.split {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.ng-valid {
  background: rgba(128, 255, 128, 0.2);
}

.ng-invalid {
  background: rgba(240, 128, 128, 0.2);
}

input.ng-invalid,
select.ng-invalid {
  border: 1px solid red;
}

.warning {
  color: Chocolate;
}

.p-10 {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
